<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SMIMS 2026</title>
</head>
<body>
	<h1>SMIMS 2026</h1>
	<p>Willkommen zur (inoffiziellen) Webseite der SMIMS-Teilnehmer 2026!</p>
	<p>Das hier ist ein unabhängiges Projekt und ist nicht mit der Organisation der SMIMS assoziiert.</p>

	<h2>Infos:</h2>
	<p>
		Die SMIMS ist die Schülerakademie für Mathematik und Informatik in Münster.
		Hier lernt ihr, eure mathematischen und informatischen Fähigkeiten zu entdecken und zu verbessern!
	</p>
	<p>Egal, ob ihr in eurer Freizeit viel programmiert oder gerade erst ins Thema einsteigt, hier werdet ihr fündig.</p>
	<h2>Newsletter</h2>
	<p>Gebt hier eure E-Mail-Adresse ein, um euch für den Newsletter anzumelden:</p>
	<form action="/newsletter" method="post">
		<input type="email" name="email" placeholder="E-Mail" />
		<button>Abonnieren</button>
	</form>
</body>
</html>